# MongoDB
MONGODB_URL=mongodb+srv://noursalon_user:PASSWORD@cluster0.vhmlghp.mongodb.net/?appName=Cluster0
DB_NAME=noursalon

# Security
SECRET_KEY=your-secret-key-min-32-chars-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# App Configuration
APP_NAME=NourSalon API
DEBUG=False
ALLOWED_ORIGINS=http://localhost:3000,https://noursalon-app.vercel.app
